{%extends 'base.html'%}
{%block body_block%}

{%for p in posts%}
<div style="background-color: white; border: 3px solid rgb(149, 143, 143);padding: 20px;border-radius: 20px;" class="post-preview">
    <a href="post.html">
        <p class="post-meta">
            <a href="#!"><h3>{{p.user}}</h3></a>
            Posted on {{p.created_date}}
        </p>
       

        {%if p.image%}
        <img src="{{p.image.url}} " height="200px" width="300px" alt="">
        {%endif%}
    </a>
    <div>
        <p>
            <hr class="my-4" />

            <h2 class="post-title">{{p.post}}</h2>
            <a href="{%url 'add-likes' p.id%}" style=" " class="btn btn-sm btn-dark">{{p.likes.all.count}} &#10084;</a>
            <button class="btn btn-sm btn-info " type="button" data-bs-toggle="collapse" data-bs-target="#answerlist{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample">
                COMMENTS
              </button>
              <a style="color: red;margin-left: 580px;" href="{%url 'post-delete' p.id %}"  class="fa-solid fa-trash">delete</a>

          </p>
          {% comment %} <div class="collapse" id="collapseExample{{ forloop.counter }}">
            <div class="card card-body">
                <form action="{%url 'add-comment' p.id %}" method="post">
                    {%csrf_token%}
                    <h6>ADD COMMENT</h6>
                    <textarea name="comment" id="" cols="30" rows="2" class="form-control"></textarea>
                    <input class="ms-5 mt-3 btn btn-sm btn-success" type="submit" value="ADD">
                </form>
            </div>
          </div> {% endcomment %}
          <div class="collapse" id="answerlist{{ forloop.counter }}">
            <div class="card card-body">
                 <ul class="list-group">
                     {%for cmt in p.fetch_comments%}
                        <li class="list-group-item"><strong>{{cmt.comment}}</strong>
                            <a href="{%url 'add-cmtlikes' cmt.id%}" class="btn btn-sm btn-info">{{cmt.cmt_likes.all.count}} &#10084;</a>

                            <h6 style="font-size: small;font-weight: lighter;" class="post-meta">
                                Posted by
                                <a>{{cmt.user}}</a>
                                on {{cmt.created_date}}
                            </h6>
                        </li>
                    {%endfor%}
                    </ul>
               </div>
             </div>
</div>
</div>
<br>
{%endfor%}
<!-- Divider-->
{%endblock%}